.matchUp {
  margin: 50px 0 0;
}
.matchWrapper {
  background: #f3f0e6;
  margin: 0 auto;
  padding: 0 0 20px;
}
.matchDown {   
  margin: 10px auto;
  .matchList { 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .matchListItem{ 
       
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
}
